<footer class="navbar navbar-fixed-bottom bg-light navbar-dark border border-info border-left-0 border-right-0 border-bottom-0">
    <div class="container" style="justify-content:center">
        <span>
            Copyright © <%= (new Date()).getFullYear()%> <%=config.author%>. All Rights Reserved.
        </span>
    </div>
</footer>
